<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href=/static/css/style.css>
</head>
<body>
<h1>Task Manager</h1>
<h2>Task List</h2>
<table class="task-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.title}"></td>
        <td th:text="${task.desc}"></td>
        <td th:text="${task.status}"></td>
        <td>
            <form th:action="@{/tasks/update-status}" method="post">
                <input type="hidden" th:name="taskId" th:value="${task.id}" />
                <label>
                    <select th:name="status">
                        <option th:value="IN_PROGRESS" th:text="IN_PROGRESS" th:selected="${task.status == 'IN_PROGRESS'}"></option>
                        <option th:value="COMPLETED" th:text="COMPLETED" th:selected="${task.status == 'COMPLETED'}"></option>
                        <option th:value="CANCELED" th:text="CANCELED" th:selected="${task.status == 'CANCELED'}"></option>
                    </select>
                </label>
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a href="#" id="create-task-link">Create New Task</a>
<div id="create-task-form" style="display: none;">
    <h2>Create New Task</h2>
    <form th:action="@{/tasks}" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="desc">Description:</label>
        <textarea id="desc" name="desc" required></textarea><br>
        <button type="submit">Create</button>
    </form>
</div>

<script >
        document.getElementById('create-task-link')
        .addEventListener('click', function(e) {
            e.preventDefault();
            document.getElementById('create-task-form').style.display = 'block';
        });
</script>
<!--<form th:action="@{/tasks}" method="post">-->
<!--    <input type="text" name="title" placeholder="Title" required />-->
<!--    <input type="text" name="desc" placeholder="Description" required />-->
<!--    <button type="submit">Create Task</button>-->
</form>
</body>
</html>
